{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-4">
            <h2>{% if object %}Editar Producto: {{ object.name }}{% else %}Añadir Nuevo Producto{% endif %}</h2>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-4">
                    <a href="javascript:history.back()" class="btn btn-outline-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-neon">Guardar Producto</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
